// Grid
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Project Grids Mixin
//////////////////////////////////////////////////////

@mixin adaptive-grid($view) {
  display: grid;

  @if $view == "footer" {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px 0;

    @include md {
      grid-template-columns: 1fr 1fr 1fr;

      > div:nth-of-type(4) {
        display: none;
      }
    }

    @include gadgets {
      grid-template-columns: 1fr;
      gap: 24px 0;
    }
  } @else if $view == "card-page" {
    grid-template-columns: 2.111fr 1.1fr;
    gap: 0 8.23vw;

    @include md {
      grid-template-columns: 1.8835fr 1.1fr;
      gap: 0 6.739vw;
    }

    @include gadgets {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
