// Project Utilities
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Animation utilite example
//////////////////////////////////////////////////////

// .fadeAndLeft {
//  will-change: transform, opacity;
//  @include animations("left #{$animation-duration}", "fade #{$animation-duration}");
// }


// Elements
//////////////////////////////////////////////////////

// Main container
.container {
  @extend %container;
  margin: 0 auto;

  &--with-slider {
    @include gadgets {
      padding: 0;
    }
  }
}


.link {
  @include text($font-size--small, $font-weight--semibold);

  &,
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    color: $colors__text;
    outline: none;
  }
}

// nowrap spans
.nowrap {
  white-space: nowrap;
}

.text--center {
  text-align: center;
}


// Visibility utilities
//////////////////////////////////////////////////////

// stylelint-disable declaration-no-important
.visible {
  &--lg,
  &--md,
  &--not-gadgets,
  &--gadgets,
  &--sm,
  &--xs,
  &--lg--inline-block,
  &--md--inline-block,
  &--not-gadgets--inline-block,
  &--gadgets--inline-block,
  &--sm-inline-block,
  &--xs--inline-block,
  &--lg--inline,
  &--md--inline,
  &--not-gadgets--inline,
  &--gadgets--inline,
  &--sm--inline,
  &--xs--inline {
    display: none !important;
  }

  &--lg {
    @include lg {
      display: block !important;
    }
  }

  &--md {
    @include md {
      display: block !important;
    }
  }

  &--not-gadgets {
    @include not-gadgets {
      display: block !important;
    }
  }

  &--gadgets {
    @include gadgets {
      display: block !important;
    }
  }

  &--sm {
    @include sm {
      display: block !important;
    }
  }

  &--xs {
    @include xs {
      display: block !important;
    }
  }

  &--lg--inline-block {
    @include lg {
      display: inline-block !important;
    }
  }

  &--md--inline-block {
    @include md {
      display: inline-block !important;
    }
  }

  &--not-gadgets--inline-block {
    @include not-gadgets {
      display: inline-block !important;
    }
  }

  &--gadgets--inline-block {
    @include gadgets {
      display: inline-block !important;
    }
  }

  &--sm--inline-block {
    @include sm {
      display: inline-block !important;
    }
  }

  &--xs--inline-block {
    @include xs {
      display: inline-block !important;
    }
  }

  &--lg--inline {
    @include lg {
      display: inline !important;
    }
  }

  &--md--inline {
    @include md {
      display: inline !important;
    }
  }

  &--not-gadgets--inline {
    @include not-gadgets {
      display: inline !important;
    }
  }

  &--gadgets--inline {
    @include gadgets {
      display: inline !important;
    }
  }

  &--sm--inline {
    @include sm {
      display: inline !important;
    }
  }

  &--xs--inline {
    @include xs {
      display: inline !important;
    }
  }
}

.hidden {
  &--lg {
    @include lg {
      display: none !important;
    }
  }

  &--md {
    @include md {
      display: none !important;
    }
  }

  &--not-gadgets {
    @include not-gadgets {
      display: none !important;
    }
  }

  &--gadgets {
    @include gadgets {
      display: none !important;
    }
  }

  &--sm {
    @include sm {
      display: none !important;
    }
  }

  &--xs {
    @include xs {
      display: none !important;
    }
  }
}
// stylelint-enable declaration-no-important
