// App common project styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.section {
  &__title {
    display: inline-block;
    @include text($font-size--normal, $font-weight--semibold);
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 26px;

    .link {
      text-decoration: underline;
      display: inline-block;

      & + .link {
        margin-left: $gutter;
      }
    }
  }
}

