// Project placeholders
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

%container {
  @include lg {
    max-width: $container-width__lg;
  }

  @include md {
    width: 100%;
    padding-left: $container__gutter--md;
    padding-right: $container__gutter--md;
  }

  @include sm {
    width: 100%;
    padding-left: $container__gutter--sm;
    padding-right: $container__gutter--sm;
  }
  @include xs {
    width: 100%;
    padding-left: $container__gutter--xs;
    padding-right: $container__gutter--xs;
  }
}

%box-shadows {
  box-shadow: $shadows__coords-x $shadows__coords-y $shadows__size $shadows__stretch $colors__shadows;
}

%test-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $colors__greys--test;
  color: $colors__white;
}

%test-card {
  border: 1px solid $colors__border;
  height: 100%;
}

%header {
  @extend %box-shadows;
  height: $header__height;
  width: 100%;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

%section {
  &__margin {
    margin: ($gutter2 * 2) 0;
  }
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include size(100%, 100%);
}

// Text overflow ellipsis protection
%string-ellipsis-protection {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Very long letters protection
%very-long-letters-protection {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word; // stylelint-disable declaration-block-no-duplicate-properties
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
