// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Paths
$images__path--root: "../../assets/images/";


// Sizes and rounding
//////////////////////////////////////////////////////

$gutter: 20px;
$container__gutter--md: $gutter * 4;
$container__gutter--sm: $gutter * 2;
$container__gutter--xs: 24px;

$border-width: 2px;

$border-radius__large: 12px;
$border-radius__small: 7px;

$controls__height: 70px;


// Elements
//////////////////////////////////////////////////////


// Buttons

$buttons__border-radius: $border-radius__small;

$buttons__height: $controls__height;


// Inputs

$inputs__height: $controls__height;


// Views
//////////////////////////////////////////////////////

$loader__size--default: 100px;

$header__height: 80px;


// Layouts
//////////////////////////////////////////////////////

$layouts__modal: 2500;
$layouts__fixed: 2000;
$layouts__popups: 1500;
$layouts__content: 1000;


// Effects
//////////////////////////////////////////////////////

$fade: 0.2;
$fade--percent: 8%;

$shadows__coords-x: 0;
$shadows__coords-y: 1px;
$shadows__size: 2px;
$shadows__stretch: 0;

$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;
$transition-delay: 0s;

$animation-duration: $transition-duration * 3;


// Colors
//////////////////////////////////////////////////////

// Palette

$colors__white: #fff;
$colors__black: #000;

$colors__primary: #ff7d5a;


// Grays
$colors__greys--lighter: #fafafa;
$colors__greys--test: #dfdfdf;
$colors__grey: #858585;

$colors__text: #2c2c2c;


// Links
$colors__link: $colors__primary;
$colors__link--hover: darken(#44529c, $fade);


// Borders and shadows

$colors__shadows: rgba(0, 0, 0, 0.18);

$colors__border: $colors__greys--lighter;
$colors__placeholder: $colors__border;


// Breackpoints and containers
//////////////////////////////////////////////////////

// Minimum Supported Width
$breakpoints__min:                 320px;

// Extra small screen / XS / phone
$breakpoints__xs:                  375px;

// Small screen / SM / tablet
$breakpoints__sm:                  768px;

// Medium screens MD and LG
$breakpoints__md:                  1217px;

// Large screen / Desktops
$breakpoints__lg:                  1777px;

$breakpoints__xs_max:              ($breakpoints__sm - 1);
$breakpoints__sm_max:              ($breakpoints__md - 1);
$breakpoints__md_max:              ($breakpoints__lg - 1);

$container-width__md: 1040px;
$container-width__lg: 1600px;
